In [1]:
# convention for importing numpy
import numpy as np

arr = [6,7,8,9]
print(type(arr))

<class 'list'>

In [3]:
a = np.array(arr)
print(type(a))
print(a.shape)
print(a.dtype)
print(a.ndim)
print(a)

<class 'numpy.ndarray'>
(4,)
int32
1
[6 7 8 9]

In [12]:
b = np.array([[1,2,3],[4,5,6]])
print(b)
print(b.ndim)
print(b.shape)
print (b.dtype)
print(type(b))

[[1 2 3]
 [4 5 6]]
2
(2, 3)
int32
<class 'numpy.ndarray'>

In [19]:
import numpy as np
arr = [6.0,7.0,8.0,9.0]
print(type(arr))
c = np.array(arr)
print(type(c))
print(c.dtype)

<class 'list'>
<class 'numpy.ndarray'>
float64

In [24]:
d=np.array([[1,2,3],[4,5,6]])
print (d)
print(type(d))
print(d.dtype)
print(d.ndim)
print(d.shape)

[[1 2 3]
 [4 5 6]]
<class 'numpy.ndarray'>
int32
2
(2, 3)

In [40]:
np.random.random((2,3))

array([[0.24271883, 0.51086228, 0.88983094],
       [0.53705699, 0.01160164, 0.49064404]])

In [41]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [163]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [165]:
np.matrix((2,3))

matrix([[2, 3]])

In [166]:
np.empty((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [157]:
np.random.random((2,3))

array([[0.76257287, 0.31182929, 0.51838545],
       [0.97636536, 0.0293934 , 0.58311246]])

In [80]:
i = np.array([[0.24271883, 0.51086228, 0.88983094],
       [0.53705699, 0.01160164, 0.49064404]])
j = np.array([[0.25955877, 0.41598948, 0.51644897],
       [0.41904913, 0.34754729, 0.69779948]])

i+j

array([[0.5022776 , 0.92685176, 1.40627991],
       [0.95610612, 0.35914893, 1.18844352]])

In [70]:
i*j

array([[0.13939785, 0.00482616, 0.25339261],
       [0.22505326, 0.00403212, 0.34237116]])

In [73]:
5/j

array([[19.26346006, 12.01953472,  9.68149864],
       [11.93177516, 14.3865314 ,  7.16538224]])

In [74]:
i**2

array([[2.88430211e-01, 1.34598051e-04, 2.40731574e-01]])

In [81]:
print(i)

[[0.24271883 0.51086228 0.88983094]
 [0.53705699 0.01160164 0.49064404]]

In [83]:
i[1]

array([0.53705699, 0.01160164, 0.49064404])

In [88]:
i[1,1]

0.01160164

In [92]:
i[1]

array([0.53705699, 0.01160164, 0.49064404])

In [96]:
i[1,0:3]

array([0.53705699, 0.01160164, 0.49064404])

In [169]:
k = np.array([[0.24271883, 0.51086228, 0.88983094],
       [0.53705699, 0.01160164, 0.49064404],[0.25955877, 0.41598948, 0.51644897],
       [0.41904913, 0.34754729, 0.69779948]])
print("the array list are:", k)
print(k.dtype)
print(type(k))
print(k.ndim)
print(k.shape)

the array list are: [[0.24271883 0.51086228 0.88983094]
 [0.53705699 0.01160164 0.49064404]
 [0.25955877 0.41598948 0.51644897]
 [0.41904913 0.34754729 0.69779948]]
float64
<class 'numpy.ndarray'>
2
(4, 3)

In [106]:
k[3,0:3]

array([0.41904913, 0.34754729, 0.69779948])

In [122]:
k[:4,:3]

array([[0.24271883, 0.51086228, 0.88983094],
       [0.53705699, 0.01160164, 0.49064404],
       [0.25955877, 0.41598948, 0.51644897],
       [0.41904913, 0.34754729, 0.69779948]])

In [128]:
y=np.array([[2,0,3,1],[2,1,0,2]])
print (y)

[[2 0 3 1]
 [2 1 0 2]]

In [178]:
z1 = np.array([[[1, 2, 3], [4, 5, 6]], [[7, 8, 9], [10, 11, 12]]])
print(z1)
print(type(z1))
print(z1.dtype)
print(z1.ndim)
print(z1.shape)
print(z1[0, 1, 2])

[[[ 1  2  3]
  [ 4  5  6]]

 [[ 7  8  9]
  [10 11 12]]]
<class 'numpy.ndarray'>
int32
3
(2, 2, 3)
6

In [180]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[4:])

[5 6 7]

In [181]:
import numpy as np

arr = np.array([1, 2, 3, 4, 5, 6, 7])
print(arr[:4])

[1 2 3 4]

In [183]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[-3:-1])

[5 6]

In [184]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[1:5:2])

[2 4]

In [186]:
arr = np.array([1, 2, 3, 4, 5, 6, 7])

print(arr[::2])

[1 3 5 7]

In [187]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[1, 1:4])

[7 8 9]

In [188]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 2])

[3 8]

In [189]:
arr = np.array([[1, 2, 3, 4, 5], [6, 7, 8, 9, 10]])

print(arr[0:2, 1:4])

[[2 3 4]
 [7 8 9]]

In [190]:
arr = np.array([10, 15, 20, 25, 30, 35, 40])

print(arr[1:4])

[15 20 25]

In [192]:
arr = np.array([10, 15, 20, 25, 30, 35, 40])

print(arr[1:4:2])

[15 25]

In [193]:
import pandas

mydataset = {
  'cars': ["BMW", "Volvo", "Ford"],
  'passings': [3, 7, 2]
}

myvar = pandas.DataFrame(mydataset)

print(myvar)

    cars  passings
0    BMW         3
1  Volvo         7
2   Ford         2

In [196]:
import pandas as pd
a = [1,7,2]
myvar = pd.Series(a)
print(myvar)
print(myvar[0])

0    1
1    7
2    2
dtype: int64
1

In [201]:
import pandas as pd

a = [1, 7, 2]

myvar = pd.Series(a, index = ["x", "y", "z"])

print(myvar)
print(myvar['y'])

x    1
y    7
z    2
dtype: int64
7

In [203]:
import pandas as pd
calories ={'day1':420, 'day2':380, 'day3':390}
myvar=pd.Series(calories)
print(myvar)

day1    420
day2    380
day3    390
dtype: int64

In [204]:
import pandas as pd
calories ={'day1':420, 'day2':380, 'day3':390}
myvar=pd.Series(calories,index=['day2','day3'])
print(myvar)

day2    380
day3    390
dtype: int64

In [205]:
data = {
  "calories": [420, 380, 390],
  "duration": [50, 40, 45]
}

myvar = pd.DataFrame(data)

print(myvar)

   calories  duration
0       420        50
1       380        40
2       390        45

In [211]:
data = {'calories': [420,380,720],
    'duration': [30, 40,70]}
myvar = pd.DataFrame(data, index = ['day1', 'day2', 'day3'])
print(myvar)

      calories  duration
day1       420        30
day2       380        40
day3       720        70

In [214]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Theophilus Uwoghiren\Documents\DS\Tutorials\data.csv')

print(df.to_string())

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
5          60    102       127     300.0
6          60    110       136     374.0
7          45    104       134     253.3
8          30    109       133     195.1
9          60     98       124     269.0
10         60    103       147     329.3
11         60    100       120     250.7
12         60    106       128     345.3
13         60    104       132     379.3
14         60     98       123     275.0
15         60     98       120     215.2
16         60    100       120     300.0
17         45     90       112       NaN
18         60    103       123     323.0
19         45     97       125     243.0
20         60    108       131     364.2
21         45    100       119     282.0
22         60    130       101     300.0
23         45    105       132     246.0
24         60    102       126     334.5
25         60    100       120     250.0
26         60     92       118     241.0
27         60    103       132       NaN
28         60    100       132     280.0
29         60    102       129     380.3
30         60     92       115     243.0
31         45     90       112     180.1
32         60    101       124     299.0
33         60     93       113     223.0
34         60    107       136     361.0
35         60    114       140     415.0
36         60    102       127     300.0
37         60    100       120     300.0
38         60    100       120     300.0
39         45    104       129     266.0
40         45     90       112     180.1
41         60     98       126     286.0
42         60    100       122     329.4
43         60    111       138     400.0
44         60    111       131     397.0
45         60     99       119     273.0
46         60    109       153     387.6
47         45    111       136     300.0
48         45    108       129     298.0
49         60    111       139     397.6
50         60    107       136     380.2
51         80    123       146     643.1
52         60    106       130     263.0
53         60    118       151     486.0
54         30    136       175     238.0
55         60    121       146     450.7
56         60    118       121     413.0
57         45    115       144     305.0
58         20    153       172     226.4
59         45    123       152     321.0
60        210    108       160    1376.0
61        160    110       137    1034.4
62        160    109       135     853.0
63         45    118       141     341.0
64         20    110       130     131.4
65        180     90       130     800.4
66        150    105       135     873.4
67        150    107       130     816.0
68         20    106       136     110.4
69        300    108       143    1500.2
70        150     97       129    1115.0
71         60    109       153     387.6
72         90    100       127     700.0
73        150     97       127     953.2
74         45    114       146     304.0
75         90     98       125     563.2
76         45    105       134     251.0
77         45    110       141     300.0
78        120    100       130     500.4
79        270    100       131    1729.0
80         30    159       182     319.2
81         45    149       169     344.0
82         30    103       139     151.1
83        120    100       130     500.0
84         45    100       120     225.3
85         30    151       170     300.0
86         45    102       136     234.0
87        120    100       157    1000.1
88         45    129       103     242.0
89         20     83       107      50.3
90        180    101       127     600.1
91         45    107       137       NaN
92         30     90       107     105.3
93         15     80       100      50.5
94         20    150       171     127.4
95         20    151       168     229.4
96         30     95       128     128.2
97         25    152       168     244.2
98         30    109       131     188.2
99         90     93       124     604.1
100        20     95       112      77.7
101        90     90       110     500.0
102        90     90       100     500.0
103        90     90       100     500.4
104        30     92       108      92.7
105        30     93       128     124.0
106       180     90       120     800.3
107        30     90       120      86.2
108        90     90       120     500.3
109       210    137       184    1860.4
110        60    102       124     325.2
111        45    107       124     275.0
112        15    124       139     124.2
113        45    100       120     225.3
114        60    108       131     367.6
115        60    108       151     351.7
116        60    116       141     443.0
117        60     97       122     277.4
118        60    105       125       NaN
119        60    103       124     332.7
120        30    112       137     193.9
121        45    100       120     100.7
122        60    119       169     336.7
123        60    107       127     344.9
124        60    111       151     368.5
125        60     98       122     271.0
126        60     97       124     275.3
127        60    109       127     382.0
128        90     99       125     466.4
129        60    114       151     384.0
130        60    104       134     342.5
131        60    107       138     357.5
132        60    103       133     335.0
133        60    106       132     327.5
134        60    103       136     339.0
135        20    136       156     189.0
136        45    117       143     317.7
137        45    115       137     318.0
138        45    113       138     308.0
139        20    141       162     222.4
140        60    108       135     390.0
141        60     97       127       NaN
142        45    100       120     250.4
143        45    122       149     335.4
144        60    136       170     470.2
145        45    106       126     270.8
146        60    107       136     400.0
147        60    112       146     361.9
148        30    103       127     185.0
149        60    110       150     409.4
150        60    106       134     343.0
151        60    109       129     353.2
152        60    109       138     374.0
153        30    150       167     275.8
154        60    105       128     328.0
155        60    111       151     368.5
156        60     97       131     270.4
157        60    100       120     270.4
158        60    114       150     382.8
159        30     80       120     240.9
160        30     85       120     250.4
161        45     90       130     260.4
162        45     95       130     270.0
163        45    100       140     280.9
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

In [215]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Theophilus Uwoghiren\Documents\DS\Tutorials\data.csv')

print(df)

     Duration  Pulse  Maxpulse  Calories
0          60    110       130     409.1
1          60    117       145     479.0
2          60    103       135     340.0
3          45    109       175     282.4
4          45    117       148     406.0
..        ...    ...       ...       ...
164        60    105       140     290.8
165        60    110       145     300.0
166        60    115       145     310.2
167        75    120       150     320.4
168        75    125       150     330.4

[169 rows x 4 columns]

In [220]:
import pandas as pd
days = pd.Series(['monday','tuesday','wednesday'], 
                 index = ['d1','d2','d3'])
print(days)

d1       monday
d2      tuesday
d3    wednesday
dtype: object

In [221]:
days_list = np.array(['monday','tuesday','wednesday'])
numpy_days = pd.Series(days_list)
print (numpy_days)

0       monday
1      tuesday
2    wednesday
dtype: object

In [226]:
print(days['d3'])

wednesday

In [227]:
print(pd.DataFrame())

Empty DataFrame
Columns: []
Index: []

In [240]:
df_dict = {'Country': ['Ghana', 'Kenya','Nigeria','Togo'],
          'Capital': ['Accra','Nairobi','Abuja','Lome'],
          'Population': [1000,8500,35000,12000],
          'Age': [60,70,80,75]
        }
df=pd.DataFrame(df_dict, index = ['d1','d2','d6','d8'])
print(df)

    Country  Capital  Population  Age
d1    Ghana    Accra        1000   60
d2    Kenya  Nairobi        8500   70
d6  Nigeria    Abuja       35000   80
d8     Togo     Lome       12000   75

In [244]:
print(df.iloc[3])

Country        Togo
Capital        Lome
Population    12000
Age              75
Name: d8, dtype: object

In [242]:
print(df.loc['d6'])

Country       Nigeria
Capital         Abuja
Population      35000
Age                80
Name: d6, dtype: object

In [236]:
print(df['Capital'])

2      Accra
4    Nairobi
6      Abuja
8       Lome
Name: Capital, dtype: object

In [245]:
print(df.iat[0,2])

1000

In [248]:
print(df.at['d6','Capital'])

Abuja

In [260]:
df['Population'].sum()

56500

In [261]:
df.mean()

Population    14125.00
Age              71.25
dtype: float64

In [262]:
df.describe()

         Population        Age
count      4.000000   4.000000
mean   14125.000000  71.250000
std    14653.640048   8.539126
min     1000.000000  60.000000
25%     6625.000000  67.500000
50%    10250.000000  72.500000
75%    17750.000000  76.250000
max    35000.000000  80.000000

In [293]:
csv_df = pd.read_csv(r'C:\Users\Theophilus Uwoghiren\Documents\DS\Tutorials\police.csv')
csv_df.to_csv(r'C:\Users\Theophilus Uwoghiren\Documents\DS\Tutorials\police.csv', index=False)
csv_df.describe(include='all')

,Unnamed: 0,stop_date,stop_time,county_name,driver_gender,driver_age_raw,driver_age,driver_race,violation_raw,violation,search_conducted,search_type,stop_outcome,is_arrested,stop_duration,drugs_related_stop
count,91741.00000,91741,91741,0.0,86406,86414.000000,86120.000000,86408,86408,86408,91741,3196,86408,86408,86408,91741
unique,NaN,3768,1436,NaN,2,NaN,NaN,5,12,6,2,24,6,2,5,2
top,NaN,2012-01-11,11:00,NaN,M,NaN,NaN,White,Speeding,Speeding,False,Incident to Arrest,Citation,False,0-15 Min,False
freq,NaN,69,323,NaN,62895,NaN,NaN,62158,48463,48463,88545,1219,77006,83479,69543,90926
mean,45870.00000,NaN,NaN,NaN,NaN,1970.491228,34.011333,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,26483.48986,NaN,NaN,NaN,NaN,110.914909,12.738564,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,0.00000,NaN,NaN,NaN,NaN,0.000000,15.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,22935.00000,NaN,NaN,NaN,NaN,1967.000000,23.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,45870.00000,NaN,NaN,NaN,NaN,1980.000000,31.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,68805.00000,NaN,NaN,NaN,NaN,1987.000000,43.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,91740.00000,NaN,NaN,NaN,NaN,8801.000000,99.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [298]:
#sometimes dependent on the xlrd library which can be installed by running pip install xlrd in the terminal
excel_df = pd.read_excel(r'C:\Users\Theophilus Uwoghiren\Documents\DS\Tutorials\glass.xlsx')
excel_df.to_excel(r'C:\Users\Theophilus Uwoghiren\Documents\DS\Tutorials\glass.xlsx')
excel_df.describe(include='all')

,Unnamed: 0,Unnamed: 0.1,Unnamed: 0.1.1,Unnamed: 0.1.1.1,Unnamed: 0.1.1.1.1,Unnamed: 0.1.1.1.1.1,Unnamed: 0.1.1.1.1.1.1,RI,Na,Mg,Al,Si,K,Ca,Ba,Fe,Class
count,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,214.000000,2.140000e+02,2.140000e+02,214.000000,214.000000,214.00000,214.000000,2.140000e+02,214.000000,214.000000,214
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,negative
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,185
mean,106.500000,106.500000,106.500000,106.500000,106.500000,106.500000,106.500000,1.227665e+08,7.417669e+05,247726.334575,117974.543128,538941.92243,4724.692984,7.142057e+05,5748.958371,0.042611,NaN
std,61.920648,61.920648,61.920648,61.920648,61.920648,61.920648,61.920648,5.649972e+07,6.165723e+05,153736.244460,73791.110657,305738.56219,29122.840398,3.639062e+05,28114.616976,0.092474,NaN
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,1.511150e+05,1.073000e+01,0.000000,0.290000,69.81000,0.000000,5.430000e+00,0.000000,0.000000,NaN
25%,53.250000,53.250000,53.250000,53.250000,53.250000,53.250000,53.250000,1.515592e+08,1.327030e+05,36818.000000,48908.000000,73282.00000,0.121095,7.146220e+05,0.000000,0.000000,NaN
50%,106.500000,106.500000,106.500000,106.500000,106.500000,106.500000,106.500000,1.517335e+08,1.175410e+06,343485.000000,131078.000000,724644.00000,0.555795,8.432040e+05,0.000000,0.000000,NaN
75%,159.750000,159.750000,159.750000,159.750000,159.750000,159.750000,159.750000,1.518502e+08,1.323705e+06,357853.000000,157079.000000,729908.00000,0.608580,8.983490e+05,0.000000,0.056100,NaN
max,213.000000,213.000000,213.000000,213.000000,213.000000,213.000000,213.000000,1.531242e+08,1.579065e+06,397814.000000,304097.000000,751804.00000,270135.000000,1.496336e+06,171045.000000,0.510000,NaN

In [296]:
url="""https://raw.githubusercontent.com/WalePhenomenon/climate_change/master/fuel_ferc1.csv"""
fuel_data = pd.read_csv(url, error_bad_lines=False)
fuel_data.describe(include='all')

,record_id,utility_id_ferc1,report_year,plant_name_ferc1,fuel_type_code_pudl,fuel_unit,fuel_qty_burned,fuel_mmbtu_per_unit,fuel_cost_per_unit_burned,fuel_cost_per_unit_delivered,fuel_cost_per_mmbtu
count,29523,29523.000000,29523.000000,29523,29523,29343,2.952300e+04,29523.000000,29523.000000,2.952300e+04,29523.000000
unique,29523,NaN,NaN,2315,6,9,NaN,NaN,NaN,NaN,NaN
top,f1_fuel_2005_12_159_5_11,NaN,NaN,big stone,gas,mcf,NaN,NaN,NaN,NaN,NaN
freq,1,NaN,NaN,156,11486,11354,NaN,NaN,NaN,NaN,NaN
mean,NaN,118.601836,2005.806050,NaN,NaN,NaN,2.622119e+06,8.492111,208.649031,9.175704e+02,19.304354
std,NaN,74.178353,7.025483,NaN,NaN,NaN,9.118004e+06,10.600220,2854.490090,6.877593e+04,2091.540939
min,NaN,1.000000,1994.000000,NaN,NaN,NaN,1.000000e+00,0.000001,-276.080000,-8.749370e+02,-41.501000
25%,NaN,55.000000,2000.000000,NaN,NaN,NaN,1.381700e+04,1.024000,5.207000,3.778500e+00,1.940000
50%,NaN,122.000000,2006.000000,NaN,NaN,NaN,2.533220e+05,5.762694,26.000000,1.737100e+01,4.127000
75%,NaN,176.000000,2012.000000,NaN,NaN,NaN,1.424034e+06,17.006000,47.113000,4.213700e+01,7.745000
max,NaN,514.000000,2018.000000,NaN,NaN,NaN,5.558942e+08,341.260000,139358.000000,7.964521e+06,359278.000000

In [303]:
#read table from a webpage and save as a dataframe
#html_df = pd.read_html("""https://colorlib.com/etc/tb/Table_Fixed_Header/index.html""")
#html_df.to_html(r'C:\Users\Theophilus Uwoghiren\Documents\DS\Tutorials\sample_file.html')
#html_df.describe(include='all')

In [305]:
print(fuel_data.head(5))

                record_id  utility_id_ferc1  report_year  \
0   f1_fuel_1994_12_1_0_7                 1         1994
1  f1_fuel_1994_12_1_0_10                 1         1994
2   f1_fuel_1994_12_2_0_1                 2         1994
3   f1_fuel_1994_12_2_0_7                 2         1994
4  f1_fuel_1994_12_2_0_10                 2         1994

       plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0              rockport                coal       ton        5377489.0
1  rockport total plant                coal       ton       10486945.0
2                gorgas                coal       ton        2978683.0
3                 barry                coal       ton        3739484.0
4             chickasaw                 gas       mcf          40533.0

   fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0               16.590                      18.59
1               16.592                      18.58
2               24.130                      39.72
3               23.950                      47.21
4                1.000                       2.77

   fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                         18.53                1.121
1                         18.53                1.120
2                         38.12                1.650
3                         45.99                1.970
4                          2.77                2.570

In [306]:
print(fuel_data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29523 entries, 0 to 29522
Data columns (total 11 columns):
 #   Column                        Non-Null Count  Dtype
---  ------                        --------------  -----
 0   record_id                     29523 non-null  object
 1   utility_id_ferc1              29523 non-null  int64
 2   report_year                   29523 non-null  int64
 3   plant_name_ferc1              29523 non-null  object
 4   fuel_type_code_pudl           29523 non-null  object
 5   fuel_unit                     29343 non-null  object
 6   fuel_qty_burned               29523 non-null  float64
 7   fuel_mmbtu_per_unit           29523 non-null  float64
 8   fuel_cost_per_unit_burned     29523 non-null  float64
 9   fuel_cost_per_unit_delivered  29523 non-null  float64
 10  fuel_cost_per_mmbtu           29523 non-null  float64
dtypes: float64(5), int64(2), object(4)
memory usage: 2.5+ MB
None

In [315]:
fuel_data1 = fuel_data.dropna()
print(fuel_data1)

                     record_id  utility_id_ferc1  report_year  \
0        f1_fuel_1994_12_1_0_7                 1         1994
1       f1_fuel_1994_12_1_0_10                 1         1994
2        f1_fuel_1994_12_2_0_1                 2         1994
3        f1_fuel_1994_12_2_0_7                 2         1994
4       f1_fuel_1994_12_2_0_10                 2         1994
...                        ...               ...          ...
29518  f1_fuel_2018_12_12_0_13                12         2018
29519   f1_fuel_2018_12_12_1_1                12         2018
29520  f1_fuel_2018_12_12_1_10                12         2018
29521  f1_fuel_2018_12_12_1_13                12         2018
29522  f1_fuel_2018_12_12_1_14                12         2018

           plant_name_ferc1 fuel_type_code_pudl fuel_unit  fuel_qty_burned  \
0                  rockport                coal       ton        5377489.0
1      rockport total plant                coal       ton       10486945.0
2                    gorgas                coal       ton        2978683.0
3                     barry                coal       ton        3739484.0
4                 chickasaw                 gas       mcf          40533.0
...                     ...                 ...       ...              ...
29518    neil simpson ct #1                 gas       mcf          18799.0
29519  cheyenne prairie 58%                 gas       mcf         806730.0
29520     lange ct facility                 gas       mcf         104554.0
29521       wygen 3 bhp 52%                coal       ton         315945.0
29522       wygen 3 bhp 52%                 gas       mcf          17853.0

       fuel_mmbtu_per_unit  fuel_cost_per_unit_burned  \
0                   16.590                      18.59
1                   16.592                      18.58
2                   24.130                      39.72
3                   23.950                      47.21
4                    1.000                       2.77
...                    ...                        ...
29518                1.059                       4.78
29519                1.050                       3.65
29520                1.060                       4.77
29521               16.108                       3.06
29522                1.059                       0.00

       fuel_cost_per_unit_delivered  fuel_cost_per_mmbtu
0                             18.53                1.121
1                             18.53                1.120
2                             38.12                1.650
3                             45.99                1.970
4                              2.77                2.570
...                             ...                  ...
29518                          4.78                9.030
29519                          3.65                6.950
29520                          4.77                8.990
29521                         14.76                1.110
29522                          0.00               11.680

[29343 rows x 11 columns]

In [ ]:
import matplotlib.pyplot as plt
plt.figure(figsize=7,4))
plt.xticks(rotation=90)
fuel_unit = pd.DataFrame({})

In [ ]:
df.plot()

plt.show()

#Two  lines to make our compiler able to draw:
plt.savefig(sys.stdout.buffer)
sys.stdout.flush()

In [ ]:
import matplotlib

print(matplotlib.__version__)

In [ ]:
print(matplotlib.__version__)